#private-server-modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.close-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 4px;
  background-color: white;
  border-radius: 5px;
  object-fit: contain;
}

.modal-input {
  padding: 8px;
}
